body {
    background-color: #04090f;
    background-image: url("/public/atom.svg");
}

.element-row {
    margin-top: 1%;
    margin-left: 1%;
    background-color: transparent;
    width: 99%;
    height: 99%;
}

.element-container-blue {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: royalblue;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-blue {
    color: royalblue;
    text-align: center;
    min-width: 100%;
    font-size: 100%;
}

.element-container-header-blue {
    color: royalblue;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-blue {
    color: royalblue;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-pink {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: deeppink;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-pink {
    color: deeppink;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-pink {
    color: deeppink;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-pink {
    color: deeppink;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-transparent {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: transparent;
    margin-right: 0.5%;
    margin-bottom: 1%;
    border-color: transparent;
}

.element-container-purple {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: purple;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-purple {
    color: purple;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-purple {
    color: purple;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-purple {
    color: purple;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-orange {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: darkorange;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-orange {
    color: darkorange;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-orange {
    color: darkorange;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-orange {
    color: darkorange;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-lblue {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: deepskyblue;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-lblue {
    color: deepskyblue;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-lblue {
    color: deepskyblue;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-lblue {
    color: deepskyblue;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-lpurple {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: mediumpurple;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-lpurple {
    color: mediumpurple;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-lpurple {
    color: mediumpurple;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-lpurple {
    color: mediumpurple;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-green {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: lightgreen;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-green {
    color: lightgreen;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-green {
    color: lightgreen;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-green {
    color: lightgreen;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}

.element-container-yellow {
    width: 5%;
    height: 5%;
    min-width: 4rem;
    min-height: 3rem;
    background-color: #04090f;
    border-width: 2px;
    border-color: yellow;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}

.element-container-number-yellow {
    color: yellow;
    text-align: center;
    min-width: 100%;
    font-size: 100%;

}

.element-container-header-yellow {
    color: yellow;
    text-align: center;
    min-width: 100%;
    font-size: 125%;
}

.element-container-weight-yellow {
    color: yellow;
    text-align: center;
    min-width: 100%;
    font-size: 60%;
}